.App {
  text-align: center;
  background-color: white; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* Original*/ 
.App-header {
  background-color: #282c34;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}

/* I added this one*/
.App-header {
  font-size: 50px; 
  background-color: #EC4149;
  height: 150px;
  padding: 20px;
  color: white;  
 
}

/* I added .app title*/ 
.App-title {
  font-size: 1.5em;
} 

.App-link {
  color: #61dafb;
}

/*images */

.Movie-Posters {
  
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: row; 
  padding: 30px;
  
  /*justify-content: center; */
}


.Summary {
  position: relative;
  top: -400px;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  /*border: 3px solid red;*/
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px; 
}


.Review-Cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  position: relative;
  top: -600px; 
  float: right;
  margin-right: 5%; 

}

.Submitbtn {
  position: relative;
  top: 20px;
  

}
/*.Reviews {
  width: 40%;
  height: 100px;
  padding: 10px;
  background-color: maroon;
  
}*/

.Subtitle {
  font-size: 35px; 
  color: black; 
}


.Movie-Cont {
  
  height: 70vh; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
 
 

 /* padding-left: 5%; */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
